@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


body{
    text-align: center;
    font-family: 'Oswald', sans-serif;


}


.square{
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 1px solid rgb(50, 50, 50);
    display: inline-block;
}

.o{
    position: relative;

}

.o::after {
    position: absolute;
    content: "⭕";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;

}

.x::after {
    position: absolute;
    content: "❌";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    padding: 10px;
    margin-top: 50px;
    border: 0;
    background-color: grey;
    color: white;
}

button:hover {
    background-color: rgb(80, 80, 80);
    color: white;
}